.show-title-container {
    display: flex;
    
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    border-bottom: 1px white solid;
    box-sizing: border-box;
    min-height: 91px;
    height: fit-content;
}

a > .show-title-container:hover > div.show-date > p {
    text-decoration: underline;
}

a > .show-title-container:hover > div.show-title > p {
    text-decoration: underline;
}

a > .show-title-container:hover > div > div.show-desc > p {
    text-decoration: underline;
}

.show-title-container.mobile {
    width: 100%;
}

.show-date {
    margin: 0px 20px 0px 40px;
    flex: 0 0 auto;
}

.white {
    background-color: white;
    color: black;
}

.white > div.show-date > p {
    color: black;
}

.white > div.show-title > p {
    color: black;
}

.white > div > div.show-desc > p {
    color: black;
}

.show-title-container.mobile .show-date {
    margin: 0px 15px 0px 40px;
}

.show-title {
    flex: 0 0 auto;
    margin: 0px 40px;
    width: 160px;
}

.show-title-container.mobile .show-title {
    margin: 0px 40px 0px 15px;
    width: auto;
}

.show-title-container.mobile .show-title p {
    text-overflow: ellipsis;
}

.show-desc {
    margin: 0px 40px 0px 20px;
    flex: 4 1 100%;
}