.schedule-container {
    display: flex;
    flex-direction: column;
    flex: 2 1 100%;

    width: 100%;
    height: auto;

    box-sizing: border-box;
}

.schedule-headline-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px white solid;
}

.schedule-container.mobile .schedule-headline-container {
    justify-content: flex-start;
}

.schedule-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 120%;
    display: flex;
    flex-direction: row;
    margin: 40px;
}

.schedule-container.mobile .schedule-title {
    margin-right: 20px;
}

.schedule-day {
    float: right;
    font-size: 14px;
    margin-right: 20px;
}

.schedule-container.mobile .schedule-day {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 0;
}

.schedule-day-button {
    position: relative;
    color: #b3b3b3;
    margin: 0px 20px;
}

.schedule-day-button:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: #b3b3b3;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
}

.schedule-day-button:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.schedule-day-button.active {
    color: white;
}

.schedule-day-button.active:before {
    color: white;
    visibility: visible;
    transform: scaleX(1);
}

.schedule-container.mobile .schedule-day-button:not(.active) {
    display: none;
}

select {
    appearance: none;
    margin: 0 20px;
    padding: 20px 14px 20px 20px;
    font-size: 14px;
    line-height: 1.1em;
    box-sizing: content-box;
    border: none;
    color: white;
    text-decoration: underline;
    background-color: black;
  }

