@import 'styles/colors.scss';
@import 'styles/fonts.scss';

.show-container {
    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;
    
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;

    width: calc(100% - 122px);
    height: calc(100vh - 102px);
    padding: 56px 0;

    overflow-x: hidden;
    overflow-y: overlay;
    box-sizing: border-box;

    scrollbar-gutter: stable;

    &::-webkit-scrollbar {
        width: 2px;
    }
    
    &::-webkit-scrollbar-track {
        background-color: $transparent;
        border: 0;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: $grey-100;
    }
    
    &::-webkit-scrollbar-button {
        display: none;
    }

    .show {
        display: flex;
        display: -webkit-flex;
        flex: 0 0 auto;
        
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        align-items: flex-start;

        width: 100%;
        max-width: 1160px;

        margin-bottom: 56px;
        padding: 0 16px;
        box-sizing: border-box;

        .information {
            display: flex;
            display: -webkit-flex;
            flex: 0 0 auto;
            
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: center;
            align-items: flex-start;
        
            width: 576px;
            margin-right: 72px;

            .show-title {
                display: flex;
                display: -webkit-flex;
                flex: 0 0 auto;
                
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-content: center;
                align-items: center;

                width: 100%;
                height: 48px;
                margin-bottom: 56px;

                @include interFont(36px, 400, 36px);
                color: $white;
                letter-spacing: 0.5px;
                text-transform: uppercase;
            }

            .show-description {
                margin-bottom: 56px;

                @include interFont(22px, 300, 36px);
                color: $white;
                letter-spacing: 0.5px;
            }

            .social-buttons {
                margin-bottom: 56px;
            }
        }

        .image {
            display: flex;
            display: -webkit-flex;
            flex: 0 0 auto;
            
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: center;
            align-items: center;

            width: 480px;
            height: 480px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .more-shows-section {
        display: flex;
        display: -webkit-flex;
        flex: 0 0 auto;

        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;

        width: 100%;

        .more-shows-headline-container {
            display: flex;
            display: -webkit-flex;
            flex: 0 0 auto;
    
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: stretch;
            justify-content: center;
            align-items: center;
    
            width: 100%;
    
            border-top: 2px solid $grey-200;
    
            .more-shows-headline {
                display: flex;
                display: -webkit-flex;
                flex: 0 0 auto;
    
                flex-direction: row;
                flex-wrap: nowrap;
                align-content: stretch;
                justify-content: space-between;
                align-items: center;
    
                width: 100%;
                max-width: 1160px;
    
                box-sizing: border-box;
                padding: 56px 16px;
            }
    
            .more-shows-title {
                @include interFont(36px, 400, 36px);
                color: $white;
                letter-spacing: 0.5px;
                text-transform: uppercase;
            }
        }

        .more-shows-container {
            display: flex;
            display: -webkit-flex;
            flex: 0 0 auto;
    
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: stretch;
            justify-content: center;
            align-items: center;
    
            width: 100%;
    
            .more-shows {
                display: flex;
                display: -webkit-flex;
                flex: 0 0 auto;
    
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: center;
                align-items: flex-start;
    
                width: 100%;
                max-width: 1160px;
    
                box-sizing: border-box;
                padding: 0 16px;
            }
        }
    }

    .mobile {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        overflow: visible;
    }
}