.play-button {
    border-radius: 50%;

    background: #ffffff;

    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms--display: flex;
    
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
