.play-button {
    border-radius: 50%;

    background: #ffffff;

    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;
    
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
