.show-card {
    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;
    
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;

    width: 300px;
    margin: 0 30px 80px 30px;
}

.show-card.mobile {
    width: 100%;
    margin: 0;
    margin-bottom: 60px;
}

.show-card img {
    height: 300px;
    width: 300px;

    margin-bottom: 20px;
}

.show-card.mobile img {
    width: 100%;
    height: auto;
}

.show-card h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 120%;

    margin: 10px 0;
}

.show-card.mobile h2 {
    margin-top: 0;
}

.show-card:hover h2 {
    text-decoration: underline;
}

.show-card p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
}