nav {
    position: absolute;
    top: 101px;
    left: -602px;
    z-index: 100;

    width: 602px;
    height: calc(100vh - 101px);

    background: #ffffff;

    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;
    
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    
    transition: 0.5s;
}

nav.mobile {
    height: 100%;
    width: 100vw;
    top: 0;
    left: -100vw;
}

nav.menu-open, nav.mobile.menu-open {
    left: 0; 
}

.wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.wrapper.mobile {
    position: fixed;
}

.wrapper.wrapper-show {
    display: block;
}

.close-button {
    color: #000;
}

.close-button:before {
    content: '';
    position: absolute;
    width: 1%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transition: all 0.2s ease-in-out 0s;
}

.menu-button-aside.white:hover .close-button:before {
    visibility: visible;
    width: 100%;
}

.menu-items-container {
    height: 100%;
    width: auto;

    margin-left: 60px;

    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;
    
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

nav.mobile .menu-items-container {
    margin: 0 0 0 40px;
}

.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    margin: 60px 0;

    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 120%;
}

nav.mobile .menu-item {
    margin: 40px 0;
    font-size: 40px;
}

nav.mobile > .menu-button-aside {
    width: 25%;
    min-width: 25%;
    height: 100%;
}

.menu-item a {
    position: relative;
}

.menu-item a:before {
    content: '';
    position: absolute;
    width: 1%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transition: all 0.2s ease-in-out 0s;
}

.menu-item a:hover:before {
    visibility: visible;
    width: 100%;
}