.show {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;

    box-sizing: border-box;

    width: 100%;
    height: calc(100vh - 101px);
    padding: 40px;

    overflow: auto;
    overflow-y: overlay;
    box-sizing: border-box;
}

.show.mobile {
    height: auto;
    box-sizing: border-box;
    overflow: visible;
}

.show::-webkit-scrollbar {
    width: 2px;
}

.show::-webkit-scrollbar-track {
    background-color: #00000000;
    border: 0;
}

.show::-webkit-scrollbar-thumb {
    background-color: #ffffff13;
}

.show::-webkit-scrollbar-button {
    display: none;
}

.show-description {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;

    margin-bottom: 40px;
}

.show.mobile .show-description {
    flex-direction: column-reverse;
}

.title-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 100%;
}

.more-shows-title {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 120%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    margin-bottom: 40px;
    text-indent: 0;
}

.more-shows {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;

    width: 100%;

    margin-top: 40px;
}

.information, .show-cover {
    width: 50%;
}

.show.mobile .information,
.show.mobile .show-cover {
    width: 100%;
}

.show .information {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
}

.show .information h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 68px;
    line-height: 120%;
    color: #ffffff;
}

.show.mobile .information h1 {
    font-size: 40px;
    margin: 20px 0;
}

.show .information p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;

    margin: 60px 0;
    margin-right: 40px;
}

.show.mobile .information p {
    margin: 0;
    margin-bottom: 40px;
}

.show-cover {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.show.mobile .show-cover {
    width: 100%;
    height: auto;
    justify-content: flex-start;
}

.show-cover img {
    width: 500px;
    height: auto;
}

.show.mobile .show-cover img {
    width: 100%;
    height: auto;
}

