.news-card a {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
}

.news-card.main a {
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    height: auto;
    width: 100%;

    margin-bottom: 20px;
}

.news-card.fresh a {
    flex-direction: row;
    height: auto;
    width: 100%;

    margin-bottom: 20px;
}

.news-card.other a {
    flex-direction: column;
    width: 370px;

    margin-right: 60px;
    margin-bottom: 80px;
}

.news-card.main img {
    width: 90%;
    height: auto;
}

.news-card.fresh img {
    display: none;
}

.news-card.other img {
    height: 370px;
    width: 370px;

    margin-bottom: 20px;
}

.news-card h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;

    margin: 20px 0;
}

.news-card.fresh h2 {
    margin: 0 0 20px;
}

.news-card p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
}

.news-card.fresh p {
    margin: 0 0 20px;
}