@keyframes slide {
    0% {
        object-position: 0% 0%;
    }
    5% {
        object-position: 0% 0%;
    }
    50% {
        object-position: 100% 0%;
    }
    55% {
        object-position: 100% 0%;
    }
    100% {
        object-position: 0% 0%;
    }
}

/* General styles */

.news-card {
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
}

.news-card-tag {
    display: block;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;

    color: #dbdbdb;
    margin: 12px 0;
}

.news-card-text a:hover {
    text-decoration: underline;
}

.news-card img {
    object-fit: cover;
    font-weight: 300;
}

.news-card h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 110%;
}

.news-card h2:hover {
    text-decoration: underline;
}

.news-card-excerpt {
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;

    color: #b3b3b3;

    margin-top: 8px;
}

/* 'Main' news cards */

.news-card.main {
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    height: auto;
    width: 100%;

    margin-bottom: 20px;
}

.news-card.main .news-card-image {
    width: 100%;
}

.news-card.main img {
    width: 100%;
    height: auto
}

/* 'Fresh' news cards */

.news-card.fresh {
    width: 100%;
}

.news-card.fresh {
    flex-direction: row;
    height: auto;
    width: 100%;

    margin-bottom: 20px;
}

.news-card.fresh img {
    height: 6vw;
    width: 6vw;

    margin-right: 20px;

    object-position: 0% 0%;
    animation: slide 5s infinite;
    animation-play-state: paused;
    animation-timing-function: ease-in-out;
}

.news-card.fresh .news-card-image {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

.news-card.fresh:hover img {
    animation-play-state: running;
}

.news-card.fresh .news-card-tag {
    margin: 0;
    margin-bottom: 4px;
    font-size: 14px;
}

.news-card.fresh h2 {
    font-size: 20px;

    margin: 0;
}

.news-card.fresh .news-card-excerpt {
    font-size: 14px;

    margin-top: 4px;
}

/* 'Other' news cards. */

.news-card.other, .news-card.mobile {
    flex-direction: column;
    width: 370px;

    margin-right: 60px;
    margin-bottom: 80px;
}

.news-card.other img {
    height: 207px;
    width: 368px;
}

.news-card.other .news-card-tag {
    font-size: 16px;
}

.news-card.other h2 {
    font-size: 24px;

}

.news-card.other .news-card-excerpt {
    font-size: 16px;
}

/* 'Simple' news cards */

.news-card.simple {
    border-bottom: 1px solid white;
}

.news-card.simple .news-card-image {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 340px;
    margin: 40px;
}

.news-card.simple .news-card-image img {
    width: 340px;
    height: 192px;

    object-position: 0% 0%;
    animation: slide 10s infinite;
    animation-play-state: paused;
    animation-timing-function: ease-in-out;
}

.news-card.simple:hover img {
    animation-play-state: running;
}

.news-card.simple .news-card-text {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    margin-right: 40px;
}

.news-card.simple .news-card-tag {
    margin: 0;
    margin-bottom: 2px;
    font-size: 18px;
}

.news-card.simple .news-card-text h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;

    margin: 0;
    margin-bottom: 10px;
}

.news-card.simple .news-card-text p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
}

/* 'Mobile' view is very close to 'Other' type of cards */

.news-card.mobile {
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 40px;
}

.news-card.mobile .news-card-image {
    width: 100%;
    
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.news-card.mobile .news-card-image img {
    height: auto;
    width: 100%;
}

.news-card.mobile .news-card-text .news-card-tag {
    font-size: 16px;
}

.news-card.mobile .news-card-text h2 {
    font-size: 24px;

}

.news-card.mobile .news-card-text .news-card-excerpt {
    font-size: 16px;
}





