@mixin interFont($font-size: 12px, $font-weight: 400, $line-height: $font-size) {
    font-family: "Inter";
    font-style: normal;
    font-weight: $font-weight;
    font-size: $font-size;
}

@mixin openSansFont($font-size: 12px, $font-weight: 400, $line-height: $font-size) {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: $font-weight;
    font-size: $font-size;
}