main {
    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;
    
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
}

@media (max-width: 1279px) {
    .aside-button-open {
        display: none;
    }
}