main {
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms--display: flex;
    
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
}

main.mobile {
    flex-direction: column;
}

main.desktop {
    flex-direction: row;
}

