/*reused from ShowComponent.css*/

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;

    width: 100%;
    height: calc(100vh - 101px);
    padding: 40px;

    overflow: auto;
    overflow-y: overlay;
    box-sizing: border-box;
}

.about.mobile {
    flex-direction: column-reverse;
    height: auto;
    box-sizing: border-box;
    overflow: visible;
}

.about::-webkit-scrollbar {
    width: 2px;
}

.about::-webkit-scrollbar-track {
    background-color: #00000000;
    border: 0;
}

.about::-webkit-scrollbar-thumb {
    background-color: #ffffff13;
}

.about::-webkit-scrollbar-button {
    display: none;
}

.about .information, .about .image {
    width: 50%;
}

.about.mobile .information,
.about.mobile .image {
    width: 100%;
}

.about .information {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;

    margin-bottom: 101px;
}

.about.mobile .information {
    margin: 0;
}

.about .information h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 68px;
    line-height: 120%;
    color: #ffffff;
}

.about.mobile .information h1 {
    margin-top: 20px;
}

.about .information p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;

    margin-top: 40px;
}

.about.mobile .information p {
    margin-top: 20px;
}

.about .image {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.about .image img {
    width: 80%;
    height: auto;
}

.about.mobile .image img {
    width: 100%;
}

