.start-page-container {
    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;
    
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;

    width: 100%;
}

.start-page-container.desktop {
    width: calc(100% - 122px);
    height: calc(100vh - 102px);
    overflow-x: hidden;
    overflow-y: overlay;

    scrollbar-gutter: stable;
}

.start-page-container.desktop::-webkit-scrollbar {
    width: 2px;
}

.start-page-container.desktop::-webkit-scrollbar-track {
    background-color: #00000000;
    border: 0;
}

.start-page-container.desktop::-webkit-scrollbar-thumb {
    background-color: #ffffff13;
}

.start-page-container.desktop::-webkit-scrollbar-button {
    display: none;
}

.start-page-container.mobile {
    height: auto;
    overflow: visible;
}