@import 'styles/colors.scss';
@import 'styles/fonts.scss';

.player {
    display: none;
    flex: 0 0 auto;

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10000;
    
    flex-direction: column;    
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 84px;

    overflow: visible;

    .main-panel {
        display: flex;
        display: -webkit-flex;
        flex: 0 0 auto;

        flex-direction: column;    
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;

        position: absolute;
        transform: translateY(100%);
        z-index: 10002;

        width: 100%;
        height: calc(100vh);
        height: calc(100dvh);

        background-color: $black;

        will-change: transform;
        transition: transform 0.2s ease-in-out;

        overflow: hidden;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &.full {
            transform: translateY(calc(-1 * (100vh - 84px)));
            transform: translateY(calc(-1 * (100dvh - 84px)));
        }

        .content-container {
            display: flex;
            display: -webkit-flex;
            flex: 0 0 auto;

            flex-direction: column;    
            flex-wrap: nowrap;
            align-content: center;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            height: 100%;

            backdrop-filter: blur(8px) brightness(25%);
        }

        .controls-container {
            display: flex;
            display: -webkit-flex;
            flex: 0 0 auto;

            flex-direction: column;    
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;

            width: 100%;
        }

        .track-art-container {
            display: flex;
            display: -webkit-flex;
            flex: 0 0 auto;

            flex-direction: column;    
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;

            width: 100%;

            .track-art {
                display: flex;
                display: -webkit-flex;
                flex: 0 0 auto;

                flex-direction: column;    
                flex-wrap: nowrap;
                align-content: center;
                justify-content: center;
                align-items: center;

                width: 200px;
                height: 200px;
        
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-color: $grey-200;
            }
        }

        .track-information-container {
            width: 100%;
            height: auto;

            margin: 0;
            padding: 0 16px;

            .static-name {
                width: 100%;

                margin: 0;

                text-align: center;
                white-space: wrap;
            }
        }

        .schedule-line-container {
            border-bottom: none;
            border-top: 2px solid $grey-200;

            background-color: $black;
        }
    }

    .footer-panel {
        display: flex;
        display: -webkit-flex;
        flex: 0 0 auto;
        
        flex-direction: row;    
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;

        position: absolute;
        z-index: 10001;
    
        width: 100%;
        height: 84px;
    
        padding: 15px 16px;
        box-sizing: border-box;
    
        border-top: 2px solid $grey-200;
    
        background-color: $black;

        overflow: hidden;
    
        .track-art {
            width: 52px;
            height: 52px;
    
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: $grey-200;
        }
    
        .track-title-component {
            width: calc(100% - 148px);
            margin-left: 16px;
        }
    
        .play-button {
            margin-left: 24px;
        }
    
        .volume-controls {
            margin-left: 20px;
        }
    }
}

@media (max-width: 1279px) {
    .player {
        display: flex;
        display: -webkit-flex;
    }
}

