.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px white solid;
}

.social-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
}

.header {
    height: 100px;
    width: 100%;
}

.logo-text {
    font-style: normal;
    font-weight: 500;
    font-size: 28.6062px;
    margin-left: 40px;
}

.social-icons {
    margin-right: 40px;
}

.social-icon {
    margin: 0 12px;
}

.social-icon > a {
    text-decoration: none;
}

.donate {
    margin-right: 40px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.search-icon {
    margin-right: 40px;
}

