
header {
    height: 100px;
    width: 100%;

    text-transform: uppercase;
}

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px white solid;
}

.social-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    font-style: normal;
    font-weight: 500;
    font-size: 28.6062px;
    margin-left: 40px;
    color: #ffffff;
    text-decoration: none;
}

a.logo-text:hover {
    color: white;
    background-color: black;
}

.donate-link {
    position: relative;
    margin-right: 40px;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.search-icon {
    margin-right: 40px;
}

