@import 'styles/colors.scss';
@import 'styles/fonts.scss';

header {
    height: 100px;
    width: 100%;

    text-transform: uppercase;

    &.header-container {
        display: flex;
        display: -webkit-flex;
        flex: 0 0 auto;
        
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px $grey-200 solid;

        &.mobile {
            justify-content: space-between;
        }

        .logo-container {
            display: flex;
            display: -webkit-flex;
            flex: 0 0 auto;
            
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;

            width: 120px;

            cursor: pointer;
        }

        .donate-button-container {
            display: flex;
            display: -webkit-flex;
            flex: 0 0 auto;
            
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: center;
            align-items: center;

            width: 168px;
        }
    }
}