.visual-container {
    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 100%;
    min-height: 444px;
    box-sizing: border-box;

    padding: 40px 0;
}

.regular-image {
    width: 100%;
    height: auto;
}

.show-image {
    width: 100%;
    height: auto;
}

.exhibition-carousel {
    max-width: 600px;
    height: auto;
}

.regular-carousel {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}
