@import 'styles/colors.scss';
@import 'styles/fonts.scss';

.menu-button-aside {
    width: 120px;
    min-width: 120px;
    height: calc(100vh - 101px);

    border-right: 1px solid $white;

    cursor: pointer;

    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;
    
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    &.white {
        background: #ffffff;
        border-right: 2px $black solid;
    }

    &.black {
        background: $black;
    }

    .open-button-label {
        @include interFont(16px, 500);
        text-transform: uppercase;
        transform: rotate(-90deg);
        user-select: none;
    }
}

.menu-button-header {
    height: 100px;
    width: 100px;
    z-index: 20;

    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;
    
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}