@import 'styles/colors.scss';
@import 'styles/fonts.scss';

.header-player {
    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;
    
    flex-direction: row;    
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    width: 1092px;
    max-width: 1092px;

    .track-art {
        width: 52px;
        height: 52px;

        margin-left: 92px;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .play-button {
        margin-left: 24px;
    }

    .volume-controls {
        margin-left: 20px;
    }
}