.show-list {
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms--display: flex;
    
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;

    width: 100%;
    height: calc(100vh - 101px);
    padding: 40px;

    overflow: auto;
    overflow-y: overlay;
    box-sizing: border-box;
}

.show-list.mobile {
    height: auto;
    box-sizing: border-box;
    overflow: visible;
}

.show-list::-webkit-scrollbar {
    width: 2px;
}

.show-list::-webkit-scrollbar-track {
    background-color: #00000000;
    border: 0;
}

.show-list::-webkit-scrollbar-thumb {
    background-color: #ffffff13;
}

.show-list::-webkit-scrollbar-button {
    display: none;
}

.show-list h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;
    color: #ffffff;
}

.show-cards {
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms--display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;

    margin-top: 40px;
}
