.scrollable-container {
    width: calc(100% - 121px);
    height: calc(100vh - 101px);
    overflow-x: hidden;
    overflow-y: overlay;
    box-sizing: border-box;
}

.scrollable-container::-webkit-scrollbar {
    width: 2px;
}

.scrollable-container::-webkit-scrollbar-track {
    background-color: #00000000;
    border: 0;
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: #ffffff13;
}

.scrollable-container::-webkit-scrollbar-button {
    display: none;
}