.da-container {
    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;
    
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    width: 100%;

    border-top: 1px solid white;
    border-bottom: 1px solid white;

    margin-bottom: 40px;
}

.da-image {
    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;
    
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 192px;
    margin: 40px;
}

.da-image img {
    width: 192px;
    height: auto;
}

.da-text {
    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;
    
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

.da-text h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;

    margin-bottom: 10px;
}

.da-text p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;

    margin-top: 10px;
}

.da-container.mobile {
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
    margin-bottom: 16px;
}

.da-container.mobile .da-image {
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 20px;
}

.da-container.mobile .da-image img {
    width: 100%;
    height: auto;
}