@import 'styles/colors.scss';
@import 'styles/fonts.scss';

.schedule-container {
    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;
    
    flex-direction: column;
    flex: 2 1 100%;

    width: 100%;
    height: auto;

    box-sizing: border-box;

    .schedule-headline-container {
        display: flex;
        display: -webkit-flex;
        flex: 0 0 auto;
        
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: center;
        align-items: center;

        border-bottom: 2px solid $grey-200;

        .schedule-headline {
            display: flex;
            display: -webkit-flex;
            flex: 0 0 auto;
            
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: stretch;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            max-width: 1160px;

            box-sizing: border-box;
            padding: 56px 16px;

            .schedule-title {
                display: flex;
                display: -webkit-flex;
                flex: 0 0 auto;
                
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-content: center;
                align-items: center;

                height: 48px;

                @include interFont(36px, 400, 36px);
                letter-spacing: 0.5px;
                text-transform: uppercase;
            }
    
            .schedule-days {
                display: flex;
                display: -webkit-flex;
                flex: 0 0 auto;
    
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-content: center;
                align-items: flex-start;
    
                float: right;
                font-size: 14px;
    
                .schedule-day-button {
                    margin-left: 8px;
    
                    .button-label {
                        color: $grey-800;
                    }
    
                    &.selected {
                        .button-label {
                            color: $white;
                            text-decoration: underline;
                            text-underline-offset: 3px;
                        }
                    }
    
                    &:hover {
                        .button-label {
                            color: $yellow-1000;
                            text-decoration: underline;
                            text-underline-offset: 3px;
                        }
                    }
    
                    &:active {
                        .button-label {
                            color: $yellow-600;
                            text-decoration: underline;
                            text-underline-offset: 3px;
                        }
                    }
                }
            }
        }
    }

    &.mobile {
        .schedule-headline-container {
            justify-content: flex-start;

            .schedule-title {
                margin-right: 10px;
                font-size: 32px;
            }

            .schedule-day {
                width: 100%;
                display: flex;
                display: -webkit-flex;
                flex: 0 0 auto;
                
                justify-content: center;
                margin-right: 0;
            }

            .schedule-day-dropdown {
                width: 69px;
                appearance: none;
                margin: 0 20px;
                padding: 20px 14px 20px 20px;
                font-size: 14px;
                line-height: 1.1em;
                box-sizing: border-box;
                border: none;
                color: white;
                text-decoration: underline;
                background-color: black;
                text-align: center;

                &:focus {
                    border: 1px solid white;
                    box-shadow: none;
                    outline: none;
                }
                
            }
        }
    }
}