.news-list {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;

    width: 100%;
    height: calc(100vh - 101px);
    padding: 0 40px;

    overflow: auto;
    overflow-y: overlay;
}

.news-list.mobile {
    height: auto;
    padding: 0;
    overflow: visible;
}

.news-list::-webkit-scrollbar {
    width: 2px;
}

.news-list::-webkit-scrollbar-track {
    background-color: #00000000;
    border: 0;
}

.news-list::-webkit-scrollbar-thumb {
    background-color: #ffffff13;
}

.news-list::-webkit-scrollbar-button {
    display: none;
}

.news-list.mobile::-webkit-scrollbar {
    display: block;
}

.news-list h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;
    color: #ffffff;
}

.news-cards {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    margin-top: 40px;
}

.news-list.mobile .news-cards {
    margin: 0;
}

.latest-news {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    width: 100%;
}

.news-list.mobile .latest-news {
    flex-direction: column;
}

.main-news {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    width: 60%;

    padding-right: 20px;
    box-sizing: border-box;
}

.news-list.mobile .main-news {
    width: 100%;
    padding: 0;
}

.fresh-news {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    width: 40%;

    padding-left: 20px;
    box-sizing: border-box;
}

.news-list.mobile .fresh-news {
    width: 100%;
    padding: 0;
}

.other-news {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;

    padding-top: 40px;
}

.simple-news {
    width: 100%;
}

.news-list-title {
    width: 100%;

    box-sizing: border-box;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 40px;
}

.news-list-title a {
    display: block;
}

.news-list-title p {
    font-size: 36px;
    font-weight: 500;
    line-height: 120%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

.news-list-title a:hover p {
    text-decoration: underline;
}
