html, body {
  height: 100vh;
}

body {
  margin: 0;
  background: #000000;
  font-family: 'Poppins', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;

  overflow: hidden;
}

@media (pointer:none), (pointer:coarse) {
  html, body {
    height: auto;
  }

  body {
    overflow: visible;
  }
}

h1, h2, h3, h5, h6, p, code, hr {
  color: white;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

table, thead, th, tr, td {
  color: white;
  border: 1px solid white;
}

button {
  border: 0;
  padding: 0;
  padding: 0;
  outline: none;
  background: none;
  color: inherit;
  font: inherit;
  overflow: visible;
  line-height: normal;
  box-sizing: content-box;

  cursor: pointer;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}
