html, body {
  height: 100vh;
}

body {
  margin: 0;
  background: #000000;
  font-family: 'Poppins', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;

}

h1, h2, h3, h5, h6, p {
  color: white;
}

button {
  border: 0;
  padding: 0;
  padding: 0;
  outline: none;
  background: none;
  color: inherit;
  font: inherit;
  overflow: visible;
  line-height: normal;
  box-sizing: content-box;

  cursor: pointer;
}
