/*reused from ShowComponent.css*/

.studio {
    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;

    width: calc(100% - 121px);
    height: calc(100vh - 101px);

    overflow-x: hidden;
    overflow-y: overlay;
    box-sizing: border-box;
}

.studio.mobile {
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: visible;
}

.studio::-webkit-scrollbar {
    width: 2px;
}

.studio::-webkit-scrollbar-track {
    background-color: #00000000;
    border: 0;
}

.studio::-webkit-scrollbar-thumb {
    background-color: #ffffff13;
}

.studio::-webkit-scrollbar-button {
    display: none;
}

.studio .image {
    width: 100%;
}

.studio.mobile .image {
    width: 100%;
}

.studio .image {
    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;

    height: 640px;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
}

.studio .image .left,
.studio .image .right {
    width: 50%;
    height: 100%;
}

.studio .image .left {
    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;

    padding: 0 0 40px 80px;

    box-sizing: border-box;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-end;
}

.studio .image .left h1 {
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #ffffff;
}

.studio .image .right {
    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;

    padding: 0 80px 40px 0;

    box-sizing: border-box;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: flex-end;
}

.studio .image .right .description {
    padding: 30px 30px 0 30px;
    width: 645px;

    box-sizing: border-box;

    background-color: #000000;

    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;

    color: #ffffff;
}

.studio .image .right .description p {
    margin-bottom: 30px;
}

.portfolio-container {
    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    width: 100%;
    padding: 100px;
    box-sizing: border-box;
}

.filter-container {
    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;

    font-size: 24px;
    line-height: 40px;
    color: #ffffff;
}

.filter-button {
    cursor: pointer;
}

.filter-button:hover {
    text-decoration: underline;
}

.filter-separator {
    margin: 0 10px;
    user-select: none;
}

.filter-separator.hidden {
    display: none;
}

.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;

    margin-top: 100px;
}

.portfolio-list .left {
    margin-right: 40px;
}

.portfolio-list .right {
    margin-left: 40px;
}
